body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 10px 20px;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    height: 70px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right a {
    margin-left: 20px;
    text-decoration: none;
    color: #333;
}

.search-bar {
    padding: 5px;
    margin-right: 20px;
}

.cart {
    position: relative;
}

.cart-count {
    position: absolute;
    top: -11px;
    right: -17px;
    background-color: #2d73ddc0;
    color: white;
    border-radius: 50%;
    padding: 2px 5px;
}

nav {
    background-color: #2d74dd;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a.sale {
    color: rgb(0, 0, 0);
}

main {
    padding: 20px;
}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
}

footer {
    background-color: #2d74dd;
    color: white;
    text-align: center;
    padding: 10px 0;
}